<p id=”notice”><%= notice %></p>
<h1>Rail Ticketing System</h1>

<h3>Admin</h3>
<%= link_to "Login", alogin_path %>
<h3>Passenger</h3>
<%= link_to "Signup", signup_path %> or
<%= link_to "Login", alogin_path %>
  
