<h1>New Ticket</h1>


<%= render 'form', ticket: @ticket %>
<br>
<% if session[:passenger_id] != nil %>
    <td><%= link_to 'Back to trains', ptrain_show_route_path %></td>
    <%else%>
    <th><%= link_to 'Back to trains', train_show_route_path %></th>
    <%end%>
