<h1>Editing passenger</h1>

<%= render "form", passenger: @passenger %>

<br>

<div>
  <%= link_to "Show this passenger", @passenger %> |
  <%= link_to "Back to passengers", passengers_path %>
</div>
