<p style="color: green"><%= notice %></p>

<h1>Passengers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email address</th>
      <th>Address</th>
      <th>Phone number</th>
      
    </tr>
  </thead>

  <tbody>
      <tr>
      <td><%= Passenger.passenger_user.name %></td>
      </tr>
  
  </tbody>
</table>

<br>


<%= link_to 'New passenger', new_passenger_path %>