<h1>New passenger</h1>

<%= render "form", passenger: @passenger %>

<br>

<div>
<% if session[:admin_id] == nil %>
  <%= link_to "Back", passengers_path %>
<% else %>
  <th><%= link_to 'Back to passengers', passenger_show_route_path %></th>
<%end%>
</div>
