<h1>New review</h1>

<%= render "form", review: @review %>

<br>

<div>
</div>
<% if session[:passenger_id] != nil %>
<%= link_to "Back to booking histroy", booking_show_route_path %>
<%else%>
    <th><%= link_to 'Back to trains', train_show_route_path %></th>
    <%end%>